<?xml version="1.0" encoding="UTF-8" ?>
<!-- https://logback.qos.ch/manual/configuration.html -->
<!-- https://logback.qos.ch/manual/appenders.html#FileAppender -->
<configuration>
    <property name="ENCODER_PATTERN" value="%d{HH:mm:ss.SSS} [%thread] %X{TRACE_ID} %-5level %logger{36} #%line - %msg"/>
    <include resource="logback-appender-console.xml"/>

    <property name="LOG_PATH" value="./logger-libraries/logger-core/target/logs"/>
    <include resource="logback-appender-file.xml"/>

    <property name="FLUENTD_TAG" value="app"/>
    <property name="FLUENTD_LABEL" value="test"/>
    <logger name="com.github.frtu" level="TRACE" additivity="true"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="FILE_APPENDER"/>
    </root>
</configuration>
