<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE logback>
<included>
    <property name="FLUENTD_HOST" value="${FLUENTD_HOST:-${DOCKER_HOST:-localhost}}"/>
    <property name="FLUENTD_PORT" value="${FLUENTD_PORT:-24224}"/>

    <property name="FLUENTD_TAG" value="${FLUENTD_TAG:-debug}"/>
    <property name="FLUENTD_LABEL" value="${FLUENTD_LABEL:-logback}"/>

    <property name="REGION" value="${REGION:-SINGLE}"/>
    <property name="ZONE" value="${ZONE:-SINGLE}"/>
    <property name="SERVICE_NAME" value="${SERVICE_NAME:-UNKNOWN}"/>
    <property name="MACHINE_ID" value="${MACHINE_ID:-UNKNOWN}"/>
    <property name="VERSION_TAG" value="${VERSION_TAG:-UNKNOWN}"/>

    <!-- Fluend java -->
    <appender name="FLUENT_SYNC" class="ch.qos.logback.more.appenders.DataFluentAppender">
        <!-- Tag for Fluentd. Farther information: http://docs.fluentd.org/articles/config-file -->
        <tag>${FLUENTD_TAG}</tag>
        <!-- [Optional] Label for Fluentd. Farther information: http://docs.fluentd.org/articles/config-file -->
        <label>${FLUENTD_LABEL}</label>
        <!-- Host name/address and port number which Flentd placed -->
        <remoteHost>${FLUENTD_HOST}</remoteHost>
        <port>${FLUENTD_PORT}</port>
        <!-- [Optional] Additional fields(Pairs of key: value) -->
        <additionalField>
            <key>REGION</key>
            <value>${REGION}</value>
        </additionalField>
        <additionalField>
            <key>ZONE</key>
            <value>${ZONE}</value>
        </additionalField>
        <additionalField>
            <key>SERVICE_NAME</key>
            <value>${SERVICE_NAME}</value>
        </additionalField>
        <additionalField>
            <key>MACHINE_ID</key>
            <value>${HOSTNAME}</value>
        </additionalField>
        <additionalField>
            <key>VERSION_TAG</key>
            <value>${VERSION_TAG}</value>
        </additionalField>
        <!--<additionalField>-->
        <!--<key>TRACE_ID</key>-->
        <!--<value>%X{trace.id}</value>-->
        <!--</additionalField>-->
        <!--  [Optional] If true, Map Marker is expanded instead of nesting in the marker name -->
        <flattenMapMarker>false</flattenMapMarker>

        <encoder>
            <pattern>${ENCODER_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="FLUENT" class="ch.qos.logback.classic.AsyncAppender">
        <!-- Max queue size of logs which is waiting to be sent (When it reach to the max size, the log will be disappeared). -->
        <queueSize>999</queueSize>
        <!-- Never block when the queue becomes full. -->
        <neverBlock>true</neverBlock>
        <!-- The default maximum queue flush time allowed during appender stop.
             If the worker takes longer than this time it will exit, discarding any remaining items in the queue.
             10000 millis
         -->
        <maxFlushTime>10000</maxFlushTime>
        <appender-ref ref="FLUENT_SYNC"/>
    </appender>
</included>
