<?xml version="1.0" encoding="UTF-8" ?>
<!--For Java Application-->
<included>
    <property name="ENCODER_PATTERN" value="%d{HH:mm:ss.SSS} [%thread] %X{TRACE_ID} %-5level %logger{36} #%line - %msg"/>

    <include resource="logback-appender-console.xml"/>

    <root level="WARN">
        <appender-ref ref="STDOUT"/>
    </root>
</included>
