<?xml version="1.0" encoding="UTF-8" ?>
<!--For Web Application-->
<included>
    <include resource="logback-core.xml"/>

    <!--=============================-->
    <!--SERVICE - RECOMMEND ALWAYS ON-->
    <!--=============================-->
    <!--Tomcat port information and startup complete-->
    <!--<logger name="org.springframework.boot.web.embedded.tomcat" level="INFO" additivity="true"/>-->
    <!--=============================-->
    <!--SERVICE - RECOMMEND ALWAYS OFF-->
    <!--=============================-->
    <logger name="org.apache.coyote.http11.Http11NioProtocol" level="WARN" additivity="true"/>
    <logger name="org.apache.catalina.core.StandardService" level="WARN" additivity="true"/>
    <!--=============================-->

    <!--===========================-->
    <!--Spring Others-->
    <!--===========================-->
    <!-- TO CHECK VERSION for spring-boot, spring & Tomcat -->
    <!--<logger name="${groupId}.Application" level="DEBUG" additivity="true"/>-->
    <!--<logger name="org.apache.catalina.core.StandardEngine" level="INFO" additivity="true"/>-->
</included>
