<?xml version="1.0" encoding="UTF-8" ?>
<!--For Java Application-->
<included>
    <include resource="logback-appenders-fluentd.xml"/>
    <include resource="logback-appenders-std.xml"/>

    <!--=================================================-->
    <!--Log and Trace configuration - RECOMMEND ALWAYS ON-->
    <!--=================================================-->
    <!--Connectivity props INFO-->
    <logger name="com.github.frtu.logs.infra.fluentd" level="INFO" additivity="true"/>
    <logger name="com.github.frtu.logs.tracing.core.jaeger" level="INFO" additivity="true"/>
    <!--distributed tracing INFO-->
    <logger name="io.jaegertracing" level="INFO" additivity="true"/>
    <!--=================================================-->

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <!--https://logback.qos.ch/manual/layouts.html#ClassicPatternLayout-->
            <pattern><![CDATA[%date{HH:mm:ss.SSS} [%thread] %X{trace.id} %-5level %logger{36} #%line - %msg%n]]>
            </pattern>
        </encoder>
    </appender>
    <root level="WARN">
        <appender-ref ref="STDOUT"/>
    </root>
</included>
