<?xml version="1.0" encoding="UTF-8" ?>
<!-- https://logback.qos.ch/manual/configuration.html -->
<!-- https://logback.qos.ch/manual/appenders.html#FileAppender -->
<configuration>
    <include resource="logback-web.xml"/>

    <!--Current application-->
    <logger name="${groupId}" level="TRACE" additivity="true">
        <appender-ref ref="FLUENT"/>
    </logger>

    <!--ONLY NEEDED WHEN YOU NEED BELOW WARN-->
    <!--<root level="INFO">-->
    <!--<appender-ref ref="STDOUT"/>-->
    <!--</root>-->
</configuration>
