<?xml version="1.0" encoding="UTF-8" ?>
<!-- https://logback.qos.ch/manual/configuration.html -->
<!-- https://logback.qos.ch/manual/appenders.html#FileAppender -->
<configuration>
    <include resource="logback-appenders-fluentd.xml" />
    <include resource="logback-appenders-std.xml" />

    <logger name="com.github.frtu.logs" level="TRACE" additivity="true">
        <appender-ref ref="FLUENT" />
    </logger>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <!-- encoders are assigned the type
             ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
        <encoder>
            <!--https://logback.qos.ch/manual/layouts.html#ClassicPatternLayout-->
            <pattern>%d{HH:mm:ss.SSS} ${HOSTNAME} [%thread] %-5level %logger{36} #%line tx.id=%X{transaction.id} tx.owner=%X{transaction.owner} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
